extends layout

block content
  .container
    h1 #{title}
    .row
      .col-3
        label Buscar:
        select(class="form-control margin-bottom" id="cliente-select")
          option(value="0", selected) --
          each cliente in clientes
            option(value=cliente.id) #{cliente.nombre}
        input(id="cliente",type="hidden", placeholder="Id del cliente",class="form-control")
      .col-3
        label Vigencia:
        select(id="vigencia",name="vigencia",class="form-control")
          option(value="todos") Todos
          option(value="vigentes") Vigentes
          option(value="no_vigentes") No Vigentes
      .col-3
        label Vencimiento en:
        input(id="dias",type="number", placeholder="días",class="form-control")
      .col-3
        button(id="btn-consultar", class="btn btn-default pull-right" style="margin-top: 25px;") Consultar
    br
    table(id="tabla-bolsas")
  script(src="/javascripts/bolsas.js")
