extends layout

block content
  .container
    h1 #{title}
    .row
      .col-3
        label Buscar:
        input(id="cliente",type="number", placeholder="Id del cliente",class="form-control")
      .col-3
        label Vigencia:
        select(id="vigencia",name="vigencia",class="form-control")
          option(value="todos") Todos
          option(value="vigentes") Vigentes
          option(value="no_vigentes") No Vigentes
      .col-3
        label Vencimiento en:
        input(id="dias",type="number", placeholder="días",class="form-control")
      .col-3
        button(id="btn-consultar", class="btn btn-default" style="position:absolute;bottom:0") Consultar
    br
    table(id="tabla-bolsas")
  script(src="/javascripts/bolsas.js")