body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #dedede;
}

a {
  color: #00B7FF;
}

.center-box{
  width: 40%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 30px;
}

.margin-bottom{
  margin-bottom: 20px;
}

label{
  font-weight: 600;
}

.btn-default{
  background-color: #dedede;
}

.btn-default:hover{
  background-color: #a5a5a5;
}

.pull-right{
  float: right;
  margin-top: 10px;
}

.container {
  background: #fff;
}

.main-container{
  margin-top: 10%;
  background-color: #fff;
  padding: 50px;
}

.main-container .col-4{
  text-align: center;
}

.main-container a{
  padding: 30px 60px;
}

h1{
  text-align: center;
}
